img {
    width: 500px;
    height: 300px;
}

h1 {
    color: blue;
}

p {
    font-size: 25px;
    border: 1px solid;
    background-color: aqua;
    padding: 30px 40px 30px 40px;
    color: brown;
}